root = true

# General formatting
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_prefer_braces = when_multiline:suggestion
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

# Files
[*.{csproj,props,targets}]
indent_size = 2
